#timeline{
    position: relative;
    height: 100%;
}

.timeline-entry{
    animation: fromRight 1s ease-in 0s 1 normal forwards;
}

@keyframes fromRight {
    0% {
      opacity: 0;
      transform: translateX(250px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }