.invisible {
    display: none !important;
}

button {
    border: none;
    padding: 15px;
    border-radius: 25px;
    padding-inline: 45px;
    color: white;
    background-color: #538bff;
    cursor: pointer;
}
  
button:hover{
    background: #004ad4;
}

.top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    background: rgb(239,239,239);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 85%;
}

.button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 15;
    top: -35px;
}

.side-toggle-container{
    position: absolute;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    height: 95%;
    max-width: 100px;
    z-index: 19;
}

.side-toggle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 18;
}

.profile-container{
    width: 100%;
    height: 100%;
    position: absolute;
}

@media screen and (max-width: 1600px) {
    .three-switch label, .five-switch label {
      width: 60px;
      height: 60px;
    }
  }
  
@media screen and (max-width: 1200px) {
    .side-toggle-container{
        flex-direction: row;
        height: fit-content;
        width: 100%;
        bottom: 15px;
        left: 0;
        top: auto;
        max-width: 100%;
    }

    .side-toggle{
        flex-direction: row;
        gap: 20px;
    }

    .side-toggle-label{
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .row{
      display: block;
      width: 100%;
      height: auto;
    }
  
    #timeline-container{
      display: none;
    }
  
    #light{
      display: none;
    }
  
    .game-board{
      border-radius: 25px;
      width: 100%;
      height: auto;
    }
  
    .top-row{
      width: 100%;
    }
    
    .flex-column{
      width: 100%;
    }
  
    .flex-row{
      flex-direction: column;
    }
  
    .countdown-overlay{
      width: 101%;
    }
    
    .started-row{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
    }
  
    .top-row-small{
      max-height: 80px;
    }
  
    .bottom-column{
      display: none;
    }
  
    .title{
      font-size: 2.5rem;
    }
}
  
@media  screen and (max-width: 700px) {
    .side-toggle-container{
      flex-direction: column;
    }
  
    .three-switch label, .five-switch label {
      width: 45px;
      height: 45px;
    }
  
    .button-container{
      top: -10%;
    }
}

@media screen and (max-width: 600px) {
    .title{
      font-size: 1.5rem;
    }  
}
  
@media screen and (max-width: 500px) {
    button{
      width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .side-toggle-container{
      flex-direction: column;
      width: 100%;
      height: fit-content;
      bottom: 15px;
    }
  
    .side-toggle{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
}
  
@media screen and (max-width: 360px) {
    .top-row-small{
      max-height: 120px;
    }  
}
  
@media screen and (max-height: 640px) {
    .top-row{
      height: 124%;
    }
}