.content{
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.switch {
  position: fixed;
  right: 100px;
  top: 20px;
  display: inline-block;
  width: 60px;
  height: 34px;
  z-index: 5;
  box-shadow: #22262e;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(233, 205, 44);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-circle {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.checked-button{
  background-color: rgb(3, 54, 108);
}

.checked-dark-shadow {
  background-color: #22262e;
}

.checked-dark {
  box-shadow: 0 0 1px #22262e;
}

.checked {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.invisible{
  display: none;
}

.dark{
  background: #22262e;
}

.solar{
  position: absolute;
  width: 100%;
  height: 8%;
  overflow: hidden;
}

.sun{
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background: #ffe14f;
  position: absolute;
  right: -4%;
  top: -75%;
  box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #ffbc00, 0 0 140px 90px #ffef34;
}

.moon{
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background: #adadad;
  position: absolute;
  right: -4%;
  top: -75%;
  box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #777777, 0 0 140px 90px #2e2e2e;
}

.sun-in{
  animation: in 1s ease 0s 1 normal forwards;
}

.moon-in{
  animation: in 1s ease 0s 1 normal forwards;
}

.sun-out{
  animation: out 1s ease 0s 1 normal forwards;
}

.moon-out{
  animation: out 1s ease 0s 1 normal forwards;
}

@keyframes in {
  0% {
    opacity: 0;
    transform: translateY(-250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(250px);
  }
}