<div class="chart-container">
    <p class="title">Eredmények</p>
    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 data-table">
      
      <ng-container matColumnDef="empty">
        <th mat-header-cell *matHeaderCellDef>Hiba!</th>
        <td mat-cell *matCellDef>Túl kis méretű a kijelző!</td>
      </ng-container>

      <ng-container matColumnDef=".">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">{{element.sum}} </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>
          <span class="column-span">
            Felhasználónév
            <mat-form-field class="filter" floatLabel="never">
              <mat-label>Keresés</mat-label>
              <input matInput [formControl]="nameFilter">
            </mat-form-field>
          </span>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="column-span">
            Dátum, idő
          </span>
        </th>
        <td mat-cell *matCellDef="let element"> <span>{{small ? 'Dátum, idő':''}}</span> <span>{{element.date}}</span> </td>
      </ng-container>

      <ng-container matColumnDef="difficulty">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="column-span" style="width: 100%;">
            Nehézség
          </span>
        </th>
        <td mat-cell *matCellDef="let element"> <span>{{small ? 'Nehézség':''}}</span> <span>{{element.difficulty | difficultyPipe}}</span> </td>
      </ng-container>

      <ng-container matColumnDef="hits">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Találatok </th>
        <td mat-cell *matCellDef="let element"> <span>{{small ? 'Találatok':''}}</span> <span>{{element.hits}}</span> </td>
      </ng-container>
    
      <ng-container matColumnDef="sum">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Játékidő (mp) </th>
        <td mat-cell *matCellDef="let element"> <span>{{small ? 'Játékidő (mp)':''}}</span> <span>{{element.sum}}</span> </td>
      </ng-container>
    
      <ng-container matColumnDef="misses">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hibák </th>
        <td mat-cell *matCellDef="let element"> <span>{{small ? 'Hibák':''}}</span> <span>{{element.misses}}</span> </td>
      </ng-container>

      <ng-container matColumnDef="hits/misses">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hibák/Találatok </th>
        <td mat-cell *matCellDef="let element"> <span>{{small ? 'Hibák/Találatok':''}}</span> <span>{{element.misses/element.hits | hitsPipe}}</span> </td>
      </ng-container>

      <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pontok </th>
        <td mat-cell *matCellDef="let element"> <span>{{small ? 'Pontok':''}}</span> <span>{{element.points}}</span> </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    
    <mat-paginator class="mat-elevation-z8"
    [length]="resultsArray?.length"
    [pageIndex]="0"
    [pageSize]="pageSizeDefault"
    [pageSizeOptions]="pageSizeOptions"
    ></mat-paginator>

</div>