h1 {
    margin-bottom: 55px;
    text-align: center;
}

p {
    text-align: center;
}

.mat-step-header [ng-reflect-ng-switch="edit"].mat-step-icon {
    background: green;
}

.mat-step-header .mat-icon.material-icons.ng-star-inserted {
      color: green;
      position: relative;
      left: -15px;
}

.mat-step-header .mat-icon.material-icons.ng-star-inserted::before {
    content: 'check';
    color: #fff;
    position: relative;
    left: 15px;
    font-weight: bold;
}

.starting-guide-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 99.9%;
    height: 99.9%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: grey;
}

.stepper-content{
    position: absolute;
    width: 100%;
    height: 90%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
    box-sizing: border-box;
}

.animate{
    animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.mat-stepper-horizontal{
    display: block;
    height: 100%;
    width: 100%;
}

.invisible{
    display: none;
}

button{
    padding: 25px;
    border: 0px;
    border-radius: 25px;
    background: #538bff;
    color: white;
    cursor: pointer;
}

.skip-button{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 25;
    padding: 15px;
    margin: 45px;
}

.flex-buttons{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    flex-grow: 0;
}

.arrow-key-container {
    display: inline-block;
    text-align: center;
    transform: translate3d(0,0,0);
    width: 100%;
    padding-block: 25px;
}
  
.arrow-key {
    align-items: center;
    background: #4b52bd;
    border-radius: 35%;
    box-shadow: -1px 1px 0 #4643ae, -2px 2px 0 #4643ae, -3px 3px 0 #4643ae, -4px 4px 0 #4643ae;
    color: rgb(209, 215, 221);
    display: inline-flex;
    font-size: 30px;
    font-weight: bold;
    height: 75px;
    justify-content: center;
    margin: 5px;
    transform: translate3d(0, 0, 0);
    transition: box-shadow .1s linear, transform .1s linear;
    width: 75px;
    font-family: monospace;
}
  
.arrow-key:active, .arrow-key.press {
    background: #18a045;
    box-shadow: 0px 0px 20px 5px #29ff70;
    transform: translate3d(-3px, 3px, 0);
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 1200px) {
    h1{
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1000px){
    .stepper-content > div > p {
        padding: 35px;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 800px){
    .flex-buttons{
        position: relative;
    }

    p{
        font-size: 10px;
    }
}

@media screen and (max-width: 650px) {
    .stepper-content{
        height: 85%;
    }

    .stepper-content > div {
        font-size: .8em;
    }
}

@media screen and (max-width: 400px) {
  button:nth-of-type(2){
    margin-bottom: 25px;
  }

  .stepper-content > div > p {
    padding: 0px;
  }

  .stepper-content > div {
      font-size: .7em;
  }

  .flex-buttons > button {
      padding: 15px;
  }

  .flex-buttons{
      flex-direction: column;
  }
}