<div class="starting-guide-container">
    <mat-horizontal-stepper [linear]="false" [labelPosition]="'bottom'" [@.disabled]="true">

        <mat-step [editable]="true" label="Általános tájékoztató" class="mat-step">
            <div class="stepper-content animate">
                <div id="1">
                    <h1>Általános tájékoztató</h1>
                    <p>
                        Az alkalmazás használatához szükséges egy ingyenesen regisztrálható felhasználói fiók.<br/>
                        Az adatok tárolása és feldolgozása harmadik fél által biztosított szerveren történik.<br/>
                        Az alkalmazás használatához szükséges megadnia a végzettségét valamint korcsoportját.<br/>
                        Ezen adatok szükségesek az eredmények feldolgozásához.<br/>
                        A felhasználó azonosítása email cím alapján történik, ennek következtében ennek megadása is szükséges az alkalmazás használatához.<br/>
                        A "Tovább" gombra kattintva elfogadja a felhasználási feltételeket és továbblép az alkalmazás használatát bemutató útmutatóra.
                    </p>
                </div>
                <div class="flex-buttons">
                    <button matStepperNext (click)="animate(2)">Következő</button>
                    <button (click)="changeStartingGuide()">Kihagyás</button>
                </div>
            </div>
        </mat-step>

        <mat-step [editable]="true" label="Első lépés" class="mat-step">
            <div class="stepper-content">
                <div id="2">
                    <h1>Első lépés</h1>
                    <p>Lépjen be a felhasználói fiókjába ha már rendelkezik eggyel, ha nem, akkor pedig regisztráljon egyet ingyenesen.<br/>
                        Ha nem kíván regisztrálni, úgy is lehetősége van kipróbálni a programot, viszont ilyenkor az eredmények nem lesznek elmentve az adatbázisban és nem tudja követni a teljesítményét.
                    </p>
                </div>
                <div class="flex-buttons">
                    <button matStepperPrevious (click)="animate(1)">Előző</button>
                    <button matStepperNext (click)="animate(3)">Következő</button>
                    <button (click)="changeStartingGuide()">Kihagyás</button>
                </div>
            </div>
        </mat-step>
    
        <mat-step [editable]="true" label="Második lépés">
            <div class="stepper-content">
                <div id="3">
                    <h1>Második lépés</h1>
                    <p>
                        Válassza ki a nehézségi fokozatot, majd indítsa el a tesztet. <br/>
                        Attól függően, hogy milyen eszközről indította el az alkalmazást, a találatot a helyes nyíl billentyű lenyomásával, érintőképernyős készülék esetén pedig a pálya helyes részére kattintva regisztrálja az alkalmazás.
                    </p>
                </div>
                <div class="flex-buttons">
                    <button matStepperPrevious (click)="animate(2)">Előző</button>
                    <button matStepperNext (click)="animate(4)">Következő</button>
                    <button (click)="changeStartingGuide()">Kihagyás</button>
                </div>
            </div>
        </mat-step>
    
        <mat-step [editable]="true" label="Harmadik lépés">
            <div class="stepper-content">
                <div id="4">
                    <h1>Harmadik lépés</h1>
                    <p>A teszt végeztével eredményeit megtekintheti a statisztikák fül alatt!</p>
                </div>
                <div class="flex-buttons">
                    <button matStepperPrevious (click)="animate">Előző</button>
                    <button (click)="changeStartingGuide()">Befejezés</button>
                    <button (click)="changeStartingGuide()">Kihagyás</button>
                </div>
            </div>
        </mat-step>
    
    </mat-horizontal-stepper>
</div>