button {
  border: none;
  padding: 15px;
  border-radius: 25px;
  padding-inline: 45px;
  color: white;
  background-color: #538bff;
  cursor: pointer;
}

.game-board {
  height: 95%;
  width: auto;
  border: 2px solid black;
  border-radius: 25px 25px 25px 25px;
  max-width: 740px;
  max-height: 740px;
}

.container {
  width: 100%;
  height: 80%;
  top: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container{
  width: 100%;
  height: 100%;
  position: absolute;
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  background: rgb(239,239,239);
  background: linear-gradient(299deg, rgba(239,239,239,1) 0%, rgba(239,239,239,0.8071429255295868) 100%);
  backdrop-filter: blur(25px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  width: 30%;
  height: 95%;
  padding-block: 25px;
  max-width: 250px;
}

.button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 15;
}

.overlay{
  width: 95%;
  max-width: 100%;
}

.relative{
  position: relative !important;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 85vh;
  height: 85vh;
}

.invisible {
  display: none !important;
}

.data-list {
  padding: 0;
}

.title {
  font-size: 4em;
  word-break:break-word;
  letter-spacing: 2px;
}

.title-character {
  position: relative;
  display: inline-block;
  animation: textWave 2s cubic-bezier(0.42, 0, 0, 1.15);
}

.title-mole-container{
  position: relative;
}

.title-mole{
  position: absolute;
  opacity: 0;
  left: 10px;
  animation: moleWave 2s cubic-bezier(0.42, 0, 0, 1.15);
  animation-delay: .5s;
}

@keyframes textWave {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-70px);
  }
  100%{
    transform: translateY(0px);    
  }
}

@keyframes moleWave {
  0%{
    opacity: 0;
    transform: translateY(0px);
  }
  50%{
    opacity: 1;
    transform: translateY(-10px);
  }
  100%{
    opacity: 0;
    transform: translateY(0px);    
  }
}

.game-data {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.light {
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(239,239,239,1);
  border-radius: 25px;
  transform-origin: center;
  transition: width .175s ease-in-out;
}

.bottom-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  transition: top 1s cubic-bezier(1, 0, 0, 1), right 1s cubic-bezier(1, 0, 0, 1);
  position: relative;
  height: 75%;
  width: 5%;
  background: rgb(239,239,239);
  background: linear-gradient(299deg, rgba(239,239,239,1) 0%, rgba(239,239,239,0.8071429255295868) 100%);
  border-radius: 25px;
}

.timeline-container{
  min-height: 45px;
  overflow: scroll;
  overflow-x: hidden;
  border-radius: 0 13px 13px 0;
}

.timeline-container::-webkit-scrollbar {
  width: 10px;
  border-radius: 0 25px 25px 0;
}

.timeline-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0 25px 25px 0;
}

.timeline-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0 25px 25px 0;
}

.timeline-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#timeline{
  display: block;
  width: 100%;
  height: 5px;
  background-color: black;
}

.timestamp{
  position: absolute;
  font-size: 25px;
}

.timestamp::nth-of-type(2){
  color: red;
}

.timestamp-container{
  position: absolute;
}

.countdown-overlay{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 85vh;
  font-size: 15rem;
  background: rgb(239,239,239);
  background: linear-gradient(299deg, rgba(239,239,239,1) 0%, rgba(239,239,239,0.8071429255295868) 100%);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.row{
  height: 100%;
}

.side-toggle-container{
  position: absolute;
  left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 25%;
  height: 85%;
}

.side-toggle{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 18;
}

.five-switch{
	display: flex;
	overflow: hidden;
}

.five-switch input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.five-switch label {
	background-color: #e4e4d4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.five-switch label:hover {
	cursor: pointer;
}

.five-switch input:checked + label {
	background-color: #a5dc86;
	box-shadow: none;
}

.five-switch label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.five-switch label:last-of-type {
	border-radius: 0 4px 4px 0;
}

.three-switch{
	display: flex;
	overflow: hidden;
}

.three-switch input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.three-switch label {
	background-color: #e4e4d4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.three-switch label:hover {
	cursor: pointer;
}

.three-switch input:checked + label {
	background-color: #a5dc86;
	box-shadow: none;
}

.three-switch label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.three-switch label:last-of-type {
	border-radius: 0 4px 4px 0;
}

.level-button{
  margin-top: 15px;
  cursor: pointer;
}

.difficulty-button{
  margin-top: 15px;
  padding: 7px;
}


.level > button::nth-of-type(3){
  background-color: green;
}
@media screen and (max-width: 1000px) {
  .row{
    display: block;
    width: 100%;
    height: auto;
  }

  #timeline-container{
    display: none;
  }

  #light{
    display: none;
  }

  .game-board{
    border-radius: 25px;
    width: 100%;
    height: auto;
  }

  .top-row{
    width: 102%;
    margin: 10px;
    max-width: 102%;
    height: 100%;
  }
  
  .flex-column{
    width: 100%;
    height: 100%;
  }

  .flex-row{
    flex-direction: column;
  }

  .countdown-overlay{
    width: 101%;
  }
  
  .started-row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .top-row-small{
    max-height: 80px;
  }

  .bottom-column{
    display: none;
  }

  .container{
    height: 89%;
  }

  .title{
    font-size: 2.5rem;
  }

  .side-toggle-container{
    flex-direction: row;
    height: 25%;
    width: 100%;
    top: 0px;
    left: 0;
  }
}

@media screen and (max-width: 600px) {
  .title{
    font-size: 1.5rem;
  }  
}

@media  screen and (max-width: 650px) {
  .game-data{
    min-width: 80%;
  }
}

@media screen and (max-width: 500px) {
  button{
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .side-toggle-container{
    flex-direction: column;
    width: 100%;
    height: auto;
    top: 75%;
  }

  .button-container{
    top: -15%;
  }

  .side-toggle{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .level-button{
    padding: 10px;
  }

  .level-button > label{
    padding: 10px;
  }
}

@media screen and (max-width: 360px) {
  .top-row-small{
    max-height: 120px;
  }
  
}