<div class="container">
  <div class="flex-row">
    <img src="../../assets/mole_trp_smol.png" id="mole" style="display: none;"/>
    <img src="../../assets/mole_trp_smol_v2.png" id="mole_v2" style="display: none;"/>
    <img src="../../assets/mole_trp_smol_v3.png" id="mole_v3" style="display: none;"/>
    <img src="../../assets/grass.png" id="grass" style="display: none;"/>
    <img src="../../assets/road.png" id="road" style="display: none;"/>
    <img src="../../assets/house.png" id="house" style="display: none;"/>
    <div class="column">
      <div class="game-data" [ngClass]="{'invisible': !started, 'game-data-started': started}">
        <countdown (outputTime)='displayTimer($event)' (stop)="stop()" [duration]="level"></countdown>
        <ul class="data-list">
          <p>Pontszám: {{ points }}</p>
          <p>Találatok: {{ moles }}</p>
          <p>Nehézségi szint: {{ difficulty | translatePipe }}</p> 
        </ul>
      </div>
      <div [ngClass]="{'invisible': !showResult}" class="game-data-result">
        <div class="inside-result-container">
          <h1>Eredmény</h1>
          <ul class="data- ist">
            <p>Pontszám: {{ points }}</p>
            <p>Találatok: {{ moles }}</p>
            <p>Nehézségi szint: {{ difficulty | translatePipe }}</p> 
          </ul>
          <button (click)="play()">Újra</button>
          <button routerLink="/">Vissza a főoldalra</button>
        </div>
      </div>
      <div class="row">
        <div class="bottom-column">
          <span class="light" id="light"></span>
        </div>
        <canvas #board class="game-board" id="board">A böngésző nem támogatja a canvas elemet :(</canvas>
        <timeline [reactionTimes]="reactionTimes"></timeline>
        <div class="arrow-key-container">
          <div id="up" class="arrow-key up" data-key="arrowup">&#8593;</div><br>
          <div id="left" class="arrow-key left" data-key="arrowleft">&#8592;</div>
          <div id="down" class="arrow-key down" data-key="arrowdown">&#8595;</div>
          <div id="right" class="arrow-key right" data-key="arrowright">&#8594;</div>
        </div>
      </div>
    </div>
    <div class="countdown-overlay" id="countdown-overlay" [ngClass]="{'invisible': showResult}">
      <p id="beginning-countdown">3</p>
    </div>
  </div>
</div>