.game-board {
  height: 95%;
  width: auto;
  border: 2px solid black;
  border-radius: 25px 25px 25px 25px;
  max-width: 740px;
  max-height: 740px;
}

.flex-row{
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.overlay{
  width: 95%;
  max-width: 100%;
}

.relative{
  position: relative !important;
}

.invisible {
  display: none !important;
}

.data-list {
  padding: 0;
}

.title {
  font-size: 4em;
  word-break:break-word;
  letter-spacing: 2px;
}

.title-character {
  position: relative;
  display: inline-block;
  animation: textWave 2s cubic-bezier(0.42, 0, 0, 1.15);
}

.title-mole-container{
  position: relative;
}

.title-mole{
  position: absolute;
  opacity: 0;
  left: 10px;
  animation: moleWave 2s cubic-bezier(0.42, 0, 0, 1.15);
  animation-delay: .5s;
}

@keyframes textWave {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-70px);
  }
  100%{
    transform: translateY(0px);    
  }
}

@keyframes moleWave {
  0%{
    opacity: 0;
    transform: translateY(0px);
  }
  50%{
    opacity: 1;
    transform: translateY(-10px);
  }
  100%{
    opacity: 0;
    transform: translateY(0px);    
  }
}

.game-data {
  text-align: center;
  padding-block: 15px;
  height: 10vh;
  margin-top: 10px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  width: min(45%, 700px);
  margin: 0 auto;
  padding-inline: 25px;
  border-radius: 25px;
  box-shadow: 0px 0px 26px 2px rgba(79,79,79,0.55);
}

.game-data-result {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 45px;
  background: white;
  z-index: 2;
}

.light {
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(239,239,239,1);
  border-radius: 25px;
  transform-origin: center;
  transition: width .175s ease-in-out;
}

.bottom-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  transition: top 1s cubic-bezier(1, 0, 0, 1), right 1s cubic-bezier(1, 0, 0, 1);
  position: relative;
  height: 75%;
  width: 5%;
  background: rgb(239,239,239);
  background: linear-gradient(299deg, rgba(239,239,239,1) 0%, rgba(239,239,239,0.8071429255295868) 100%);
  border-radius: 25px;
}

.timeline-container{
  min-height: 45px;
  overflow: scroll;
  overflow-x: hidden;
  border-radius: 0 13px 13px 0;
}

.timeline-container::-webkit-scrollbar {
  width: 10px;
  border-radius: 0 25px 25px 0;
}

.timeline-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0 25px 25px 0;
}

.timeline-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0 25px 25px 0;
}

.timeline-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#timeline{
  display: block;
  width: 100%;
  height: 5px;
  background-color: black;
}

.timestamp{
  position: absolute;
  font-size: 25px;
}

.timestamp::nth-of-type(2){
  color: red;
}

.timestamp-container{
  position: absolute;
}

.countdown-overlay{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 99%;
  height: 99%;
  font-size: 15rem;
  background: rgb(239,239,239);
  background: linear-gradient(299deg, rgba(239,239,239,1) 0%, rgba(239,239,239,1) 100%);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.column{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 5%;
}

.five-switch{
	display: flex;
	overflow: hidden;
}

.five-switch input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.five-switch label {
	background-color: #e4e4d4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.five-switch label:hover {
	cursor: pointer;
}

.five-switch input:checked + label {
	background-color: #a5dc86;
	box-shadow: none;
}

.three-switch{
	display: flex;
	overflow: hidden;
}

.three-switch input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.three-switch label {
	background-color: #e4e4d4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.three-switch label:hover {
	cursor: pointer;
}

.three-switch input:checked + label {
	background-color: #a5dc86;
	box-shadow: none;
}

.level-button{
  margin-top: 15px;
  cursor: pointer;
}

.difficulty-button{
  margin-top: 15px;
  padding: 7px;
}

.level > button::nth-of-type(3){
  background-color: green;
}

.invisible {
  display: none !important;
}

button {
  border: none;
  padding: 15px;
  border-radius: 25px;
  padding-inline: 45px;
  color: white;
  background-color: #538bff;
  cursor: pointer;
  z-index: 19;
}

button:hover{
  background: #004ad4;
}

.arrow-key-container {
  display: inline-block;
  text-align: center;
  transform: translate3d(0,0,0);
}

  
.arrow-key {
  align-items: center;
  background: #4b52bd;
  border-radius: 35%;
  box-shadow: -1px 1px 0 #4643ae, -2px 2px 0 #4643ae, -3px 3px 0 #4643ae, -4px 4px 0 #4643ae;
  color: rgb(209, 215, 221);
  display: inline-flex;
  font-size: 30px;
  font-weight: bold;
  height: 75px;
  justify-content: center;
  margin: 5px;
  transform: translate3d(0, 0, 0);
  transition: box-shadow .1s linear, transform .1s linear;
  width: 75px;
  font-family: monospace;
}

.arrow-key:active, .arrow-key.press {
  box-shadow: 0px 0px 20px 5px #618FFF;
  transform: translate3d(-3px, 3px, 0);
  color: rgb(255, 255, 255);
}

.inside-result-container {
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  width: min(45%, 700px);
  margin: 0 auto;
  padding-inline: 25px;
  border-radius: 25px;
  box-shadow: 0px 0px 26px 2px rgba(79,79,79,0.55);
}

@media screen and (max-width: 1200px) {
  .arrow-key-container {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .row{
    display: flex;
    width: auto;
    height: 90%;
    margin-left: 5%;
  }

  #timeline-container{
    display: none;
  }

  #light{
    display: none;
  }

  .game-board{
    border-radius: 25px;
    width: 100%;
    height: auto;
  }

  .top-row{
    width: 103%;
    margin: 10px;
    max-width: 103%;
  }
  
  .flex-column{
    width: 100%;
  }

  .flex-row{
    flex-direction: column;
  }

  .countdown-overlay{
    width: 101%;
  }
  
  .started-row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .top-row-small{
    max-height: 80px;
  }

  .bottom-column{
    display: none;
  }

  .title{
    font-size: 2.5rem;
  }
}

@media  screen and (max-width: 700px) {
  .side-toggle-container{
    flex-direction: column;
  }

  .three-switch label, .five-switch label {
    width: 45px;
    height: 45px;
  }

  .button-container{
    top: -10%;
  }

  .inside-result-container{
    width: 80%;
  }
}

@media  screen and (max-width: 650px) {
  .game-data{
    position: relative;
    top: -50px;
    min-width: 80%;
  }

  .game-data-started{
    top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  .title{
    font-size: 1.5rem;
  }  
}

@media screen and (max-width: 500px) {
  button{
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .side-toggle-container{
    flex-direction: column;
    width: 100%;
    height: fit-content;
    bottom: 15px;
  }

  .side-toggle{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 360px) {
  .top-row-small{
    max-height: 120px;
  }  
}

@media screen and (max-height: 640px) {
  .top-row{
    height: 124%;
  }
}