<span class="profile-icon" (click)="isProfileOverlayOpen = !isProfileOverlayOpen; clearForm(); sendDataToParent()">
    <button class="profile-button" [ngClass]="{'invisible': isProfileOverlayOpen}">Profil</button>
    <button class="profile-button" [ngClass]="{'invisible': !isProfileOverlayOpen || isRegistering || isLoggingIn}">Vissza</button>
</span>
<button class="profile-button sign-out-button" (click)="signOut();" [ngClass]="{'invisible': !isLoggedIn}">Kijelentkezés</button>
<div class="profileOverlay" [ngClass]="{'invisible': !isProfileOverlayOpen}">
    <h1>Profil</h1>
    <ul class="profile-list" [ngClass]="{'invisible': isRegistering || isLoggingIn || isLoggedIn}">
        <li class="profile-list-items" (click)="isRegistering = true">Regisztráció</li>
        <li class="profile-list-items" (click)="isLoggingIn = true">Bejelentkezés</li>
    </ul>
    <form [formGroup]="registerForm" [ngClass]="{'invisible': !isRegistering || isLoggedIn}" (ngSubmit)="onSubmitRegister()">
        <div>
            <label for="username">
                Felhasználónév:
            </label>
            <input type="text" placeholder="" id="username" formControlName="username">
        </div>
        <div>
            <label for="email">
                Email:
            </label>
            <input type="text" placeholder="" id="email" formControlName="email">
        </div>
        <div>
            <label for="password">
                Jelszó:
            </label>
            <input type="password" placeholder="" id="password" formControlName="password">
        </div>
        <div>
            <label for="passwordRe">
                Jelszó újra:
            </label>
            <input type="password" placeholder="" id="passwordRe" formControlName="passwordRe">
        </div>
        <div>
            <label for="ageGroup">
                Korcsoport:
            </label>
            <select formControlName="ageGroup" id="ageGroup">
                <option value="">Válasszon korcsoportot...</option>
                <option *ngFor="let age of ageGroups" [ngValue]="age">
                    {{ age }}
                </option>
            </select>
        </div>
        <div>
            <label for="education">
                Végzettség:
            </label>
            <select formControlName="education" id="education">
                <option value="">Válasszon végzettségi szintet...</option>
                <option *ngFor="let education of educationList" [ngValue]="education">
                    {{ education }}
                </option>
            </select>
        </div>
        <div>
            <label for="gender">
                Nem:
            </label>  
            <div class="gender-select">

                <ul class="option-list">
                    <li>
                        <input type="radio" id="f-option" name="gender" value="female" formControlName="gender" >
                        <label for="f-option">Nő</label>
                        
                        <div class="check"></div>
                    </li>
                    
                    <li>
                        <input type="radio" id="s-option" name="gender" value="male" formControlName="gender" >
                        <label for="s-option">Férfi</label>
                        
                        <div class="check"><div class="inside"></div></div>
                    </li>
                    
                    <li>
                        <input type="radio" id="t-option" name="gender" value="other" formControlName="gender" >
                        <label for="t-option">Egyéb</label>
                        
                        <div class="check"><div class="inside"></div></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="button-container">
            <button class="button" type="submit">Regisztráció</button>
        </div>
        <div class="error" [ngClass]="{'invisible': !error}">
            <span style="color: red">{{errorMessage}}</span>
        </div>
    </form>
    <button class="button" [ngClass]="{'invisible': !isRegistering}" (click)="isRegistering = false; clearForm()">Vissza</button>
    <form [formGroup]="loginForm" [ngClass]="{'invisible': !isLoggingIn || isLoggedIn}" (ngSubmit)="onSubmitLogin()">
        <div>
            <label for="emailLogin">
                Email cím:
            </label>
            <input type="text" placeholder="" id="emailLogin" formControlName="emailLogin">
        </div>
        <div>
            <label for="passwordLogin">
                Jelszó:
            </label>
            <input type="password" placeholder="" id="passwordLogin" formControlName="passwordLogin">
        </div>
        <div class="button-container">
            <button class="button" type="submit">Bejelentkezés</button>
        </div>
        <div class="error" [ngClass]="{'transparent': !error}">
            <span style="color: red" [ngClass]="{'transparent': !error}">{{errorMessage}}</span>
        </div>
    </form>
    <button class="button" [ngClass]="{'invisible': !isLoggingIn}" (click)="isLoggingIn = false; clearForm()">Vissza</button>
    <div class="profile-info" [ngClass]="{'invisible': !isLoggedIn}">
        <div class="info-container">
            <h1>Üdvözlöm, <span class="greeting">{{user?.data.username}}</span></h1>
        </div>
    </div>
</div>