<div class="profileOverlay">
    <button class="profile-button back-button editing-back" (click)="isEditing=false" [ngClass]="{'invisible': !isEditing}">Vissza a profilra</button>
    <button class="profile-button back-button" (click)="isFollowing=false" [ngClass]="{'invisible': !isFollowing}">Vissza a profilra</button>
    <h1 [ngClass]="{'invisible': isLoggedIn}">Profil</h1>
    <ul class="profile-list" [ngClass]="{'invisible': isRegistering || isLoggingIn || isLoggedIn}">
        <li class="profile-list-items" (click)="isRegistering = true">Regisztráció</li>
        <li class="profile-list-items" (click)="isLoggingIn = true">Bejelentkezés</li>
    </ul>
    <div class="profile-info" [ngClass]="{'invisible': !isLoggedIn}">
        <div class="info-container" [ngClass]="{'invisible': isEditing || isFollowing}">
            <h1 style="margin-top:5%">Üdvözlöm, <span class="greeting">{{user?.name || 'Felhasználó'}}</span></h1>

            <ul class="profile-menu">
                <li (click)="isFollowing=true">Felhasználók keresése</li>
                <li (click)="isEditing=true">Felhasználói fiók szerkesztése</li>
            </ul>

            <div class="stats" [ngClass]="{'invisible': isFollowing || isEditing}">
                <h4 class="stats-title">Saját statisztikák</h4>
                <ul class="stats-list">
                    <li>Összes játszott menet: {{playedGames}}</li>
                    <li>Átlagos köridő: {{avgTimePlayed}} mp</li>
                    <li>Legjobb eredmény: {{bestScore}} pont</li>
                    <li>Átlagos eredmény: {{avgScore}} pont</li>
                </ul>
            </div>

        </div>
        <div [ngClass]="{'invisible': !isFollowing}">
            <h1 style="margin-bottom: 15%">Felhasználók</h1>
            <following [user]="user$"></following>
        </div>
        <edit-profile [ngClass]="{'invisible': !isEditing}"></edit-profile>
    </div>
</div>