<div class="chart-container">
    <h1>Diagramok</h1>

    <button style="width: 90%;" mat-button [matMenuTriggerFor]="menu">{{selected}}</button>

    <mat-menu #menu="matMenu">
        <button class="list-button" (click)="destroy(); loadOwnHitsPerSecondsChart()" mat-menu-item>Saját statisztikák</button>
        <button class="list-button" (click)="destroy(); loadHitsPerSecondsChart()" mat-menu-item>Találatok másodpercenként</button>
        <button class="list-button" (click)="destroy(); loadHitsPerGameChart()" mat-menu-item>Találatok játékonként</button>
        <button class="list-button" (click)="destroy(); loadReactionTimePerAgeGroup()" mat-menu-item>Reakcióidő korcsoportonként</button>
        <button class="list-button" (click)="destroy(); loadReactionTimePerAgeEducation()" mat-menu-item>Reakcióidő végzettség szerint</button>
    </mat-menu>

    <div id="chartContainer">
        <canvas id="myChart"></canvas>
    </div>
</div>