<div class="chart-container">
    <p>Diagramok</p>
    <ul class="chart-selector">
        <li (click)="destroy(); loadHitsPerSecondsChart()">Találatok másodpercenként</li>
        <li (click)="destroy(); loadHitsPerGameChart()">Találatok játékonként</li>
    </ul>
    <ul class="chart-selector-small">
        <li (click)="destroy(); loadHitsPerSecondsChart()">t/mp</li>
        <li (click)="destroy(); loadHitsPerGameChart()">t/j</li>
    </ul>
    <div id="chartContainer">
        <canvas id="myChart" width="450" height="450"></canvas>
    </div>
</div>