.profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button-container-inline {
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: 250px;
    justify-content: center;
}

.button-container-inline > button {
    max-width: 250px;
    font-size: .6rem;
    padding: 10px;
    border-radius: 25px;
    border: none;
    background: #22262e;
    color: white;
}

.button-container-inline > button:nth-of-type(2):focus {
    background: rgb(167, 38, 21);
}

.following{
    color: white;
    background-color: #538bff !important;
}

button {
    cursor: pointer;
}

.profile > span:nth-of-type(1){
    width: 25%;
}

.profile > span:nth-of-type(2){
    width: 50%;
}

.profile > span:nth-of-type(3){
    width: 25%;
}

.points {
    font-size: 1.7vw;
}