<div class="profile">
        <span class="name">{{user?.data?.name}}</span><span *ngIf="isFollowing; else followPlaceholder;"><!--<span *ngIf="points; else pointsPlaceholder;" class="points">{{points}} pont</span>--></span>
    <div *ngIf="isFollowing; then unfollowButton else followButton">
        placeholder
    </div>
</div>
<ng-template #followButton>
    <div class="button-container-inline">
        <button (click)="toggleFollow()">Követés</button>
    </div>
</ng-template>
<ng-template #unfollowButton>
    <div class="button-container-inline">
        <button class="following" (click)="toggleFollow()">Követés megszüntetése</button>
    </div>
</ng-template>
<ng-template #pointsPlaceholder>
    <span class="points">Nincs elért eredmény</span>
</ng-template>
<ng-template #followPlaceholder>
    <span class="points"></span>
</ng-template>